#!/bin/bash
{
	#////////////////////////////////////
	# DietPi BruteFIR control Script
	#
	#////////////////////////////////////
	# Created by Daniel Knight / daniel_haze@hotmail.com / dietpi.com
	#
	# Info:
	# - Location /etc/dietpi/dietpi-software/services/brutefir
	# - Called from /DietPi/dietpi/dietpi-services
	#
	#////////////////////////////////////

	FILEPATH_LOGFILE='/var/log/brutefir'

	Stop(){
		killall -w brutefir &>> "$FILEPATH_LOGFILE"
		killall -w brutefir.real &>> "$FILEPATH_LOGFILE"
	}

	Start(){
		Stop
		nice -n -15 /usr/bin/brutefir -nodefault /etc/BruteFIR/brutefir_config &> "$FILEPATH_LOGFILE" &

		#Allow time for all brutefir processes to spawn (ensures dietpi-process_tool applies to all bruteFIR PIDs)
		sleep 2

	}

	if [ "$1" = "stop" ] || [ "$1" = "restart" ]; then
		Stop
	fi

	if [ "$1" = "start" ] || [ "$1" = "restart" ]; then
		Start
	fi

	exit

}