[Unit]
Description=gmrender
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/gmediarender -f DietPi --gstout-audiodevice=sysdefault --gstout-initial-volume-db=-1 --logfile=/var/log/gmrender.log

[Install]
WantedBy=multi-user.target
