location ^~ /pydio {
	# Deny access to pydio/data dir
	location ~ ^/pydio/data/ {
		deny all;
	}

	# Disable PHP output buffering, recommended by Pydio
	fastcgi_param PHP_ADMIN_VALUE "output_buffering=Off";

	# Enable PHP handling, which is not inherited from parent location
	location ~ \.php(?:$|/) {
		fastcgi_split_path_info ^(.+\.php)(/.+)$;
		fastcgi_param PATH_INFO $fastcgi_path_info;
		fastcgi_pass php;
		fastcgi_index index.php;
		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
		include fastcgi_params;
	}

}
