#!/bin/bash
{
	Stop()
	{
		cd /etc/openbazaar-server #Yep, I know lol: https://github.com/Fourdee/DietPi/issues/333#issuecomment-219230730
		python openbazaard.py stop

		# - We need to wait for process to finish...
		while (( $(ps ax | grep -ci -m1 '[o]penbazaard') )); do
			sleep 0.5
		done
	}

	Start()
	{
		cd /etc/openbazaar-server
		python openbazaard.py start -d -a 0.0.0.0
	}

	if [ "$1" = "stop" ] || [ "$1" = "restart" ]; then
		Stop
	fi

	if [ "$1" = "start" ] || [ "$1" = "restart" ]; then
		Start
	fi

	exit
}
