[Unit]
Description=Roon Bridge
After=network.target sound.target

[Service]
Type=simple
User=root
Environment=ROON_DATAROOT=/mnt/dietpi_userdata/roon
Environment=ROON_ID_DIR=/mnt/dietpi_userdata/roon
ExecStart=/etc/roonbridge/start.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
