#!/bin/bash
{
	#////////////////////////////////////
	# DietPi squeezeboxsever Script
	#
	#////////////////////////////////////
	# Created by Daniel Knight / daniel_haze@hotmail.com / dietpi.com
	#
	# Info:
	# - Allows custom service control for squeezeboxsever
	# - Called from dietpi-services
	#////////////////////////////////////

	Stop(){
		killall -w squeezeboxserver
	}

	Start(){
		squeezeboxserver --daemon --prefsdir /var/lib/squeezeboxserver/prefs --logfile /var/log/squeezeboxserver/error.log --logdir /var/log/squeezeboxserver/ --cachedir /var/lib/squeezeboxserver/cache --user root
	}

	if [ "$1" = "stop" ] || [ "$1" = "restart" ]; then
		Stop
	fi

	if [ "$1" = "start" ] || [ "$1" = "restart" ]; then
		Start
	fi

	exit
}
