[Unit]
Description=squeezelite

[Service]
Type=simple
ExecStart=/usr/bin/squeezelite -a 4096:1024:16:0 -C 5 -n 'DietPi-Squeezelite' -f /var/log/squeezelite.log

[Install]
WantedBy=multi-user.target
