[Unit]
Description=UAE4Arm Amiga Emulator
DefaultDependencies=no
#After=dietpi-service.service
#After=After=remote-fs.target

[Service]
ExecStart=/bin/bash -c "cd /etc/uae4arm-rpi/ && ./uae4arm-rpi -f conf/autostart.uae"
ExecStop=/usr/bin/killall -w -s SIGKILL uae4arm-rpi #SIGKILL for testing, endless wait on sigterm

[Install]
WantedBy=local-fs.target
