[Unit]
Description=AmiBerry (uae4ARM) Amiga Emulator
DefaultDependencies=no
#After=dietpi-service.service
#After=After=remote-fs.target

[Service]
Type=simple
User=root
WorkingDirectory=/etc/uae4arm-rpi
ExecStart=/bin/bash uae4arm-rpi_run.sh

[Install]
WantedBy=local-fs.target
