[Desktop Entry]
Version=1.0
Name=DietPi Software
Type=Application
Comment=System Monitor
Terminal=true
Exec=/boot/dietpi/dietpi-software
Icon=system
Categories=ConsoleOnly;System;
GenericName=DietPi Software
