[Desktop Entry]
Version=1.0
Name=DietPi-Uninstall
Type=Application
Comment=Uninstalled DietPi optimized software.
Terminal=true
Exec=/DietPi/dietpi/dietpi-uninstall
Icon=/DietPi/dietpi/conf/desktop/dietpi-icon.png
Categories=ConsoleOnly;System;
GenericName=DietPi-Uninstall