[Desktop Entry]
Version=1.0
Name=DietPi Software
Type=Application
Comment=System Monitor
Terminal=true
Exec=/DietPi/dietpi/dietpi-software
Icon=/DietPi/dietpi/conf/desktop/dietpi-icon.png
Categories=ConsoleOnly;System;
GenericName=DietPi Software
