[Desktop Entry]
Version=1.0
Name=DietPi-Nice
Type=Application
Comment=Change process priority (nice) levels.
Terminal=true
Exec=/DietPi/dietpi/dietpi-nice
Icon=/DietPi/dietpi/conf/desktop/dietpi-icon.png
Categories=ConsoleOnly;System;
GenericName=DietPi-Nice