[Desktop Entry]
Version=1.0
Name=Kodi Media Center
GenericName=Media Center
Comment=Manage and view your media
Exec=/DietPi/dietpi/misc/rpi_kodi_noblackscreen_run
Icon=/DietPi/dietpi/conf/desktop/kodi-icon.png
Terminal=false
Type=Application
Categories=AudioVideo;Video;Player;TV;