[Desktop Entry]
Version=1.0
Name=DietPi-Software
Type=Application
Comment=Quickly and easily install DietPi optimized software.
Terminal=true
Exec=/DietPi/dietpi/dietpi-software
Icon=/etc/dietpi/desktop_icons/dietpi-icon.png
Categories=ConsoleOnly;System;
GenericName=DietPi-Software