[Desktop Entry]
Version=1.0
Name=DietPi-Launcher
Type=Application
Comment=Menu system that allows you to run any of the DietPi programs.
Terminal=true
Exec=/DietPi/dietpi/dietpi-launcher
Icon=/etc/dietpi/desktop_icons/dietpi-icon.png
Categories=ConsoleOnly;System;
GenericName=DietPi-Launcher