[Desktop Entry]
Version=1.0
Name=DietPi-Process Tool
Type=Application
Comment=Control and tweak system wide Nice, Affinity and Scheduler Polcies, for most programs.
Terminal=true
Exec=/DietPi/dietpi/dietpi-process_tool
Icon=/etc/dietpi/desktop_icons/dietpi-icon.png
Categories=ConsoleOnly;System;
GenericName=DietPi-Process Tool