[Desktop Entry]
Version=1.0
Name=DietPi-Cleaner
Type=Application
Comment=Removes unwanted junk from your system.
Terminal=true
Exec=/DietPi/dietpi/dietpi-cleaner
Icon=/var/lib/dietpi/dietpi-software/installed/desktop/icons/dietpi-icon.png
Categories=ConsoleOnly;System;
GenericName=DietPi-Cleaner