[Desktop Entry]
Version=1.0
Name=DietPi-Update
Type=Application
Comment=Update your version of DietPi
Terminal=true
Exec=/DietPi/dietpi/dietpi-update
Icon=/etc/dietpi/desktop_icons/dietpi-icon.png
Categories=ConsoleOnly;System;
GenericName=DietPi-Update