[Desktop Entry]
Version=1.0
Name=DietPi-Terminal
Type=Application
Comment=Launches a terminal with DietPi login and global variable support
Terminal=true
Exec=bash
Icon=/var/lib/dietpi/dietpi-software/installed/desktop_icons/dietpi-icon.png
Categories=ConsoleOnly;System;
GenericName=DietPi-Terminal