[Desktop Entry]
Version=1.0
Name=DietPi-Drive Manager
Type=Application
Comment=Mount local and network drives
Terminal=true
Exec=/DietPi/dietpi/dietpi-drive_manager
Icon=/var/lib/dietpi/dietpi-software/installed/desktop/icons/dietpi-icon.png
Categories=ConsoleOnly;System;
GenericName=DietPi-Drive_Manager