[Unit]
Description=Roon Bridge (DietPi)
Wants=network-online.target
After=network-online.target dietpi-boot.service sound.target

[Service]
Group=dietpi
Environment=ROON_DATAROOT=/mnt/dietpi_userdata/roon
Environment=ROON_ID_DIR=/mnt/dietpi_userdata/roon
SyslogIdentifier=roonbridge
ExecStart=/etc/roonbridge/start.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
