[Unit]
Description=DietPi-RAMlog
# Order 1
After=local-fs.target var-log.mount boot.mount -.mount
Before=syslog.service rsyslog.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/bin/mkdir -p /var/tmp/dietpi/logs
ExecStart=/bin/dash -c '/boot/dietpi/func/dietpi-ramlog 0 >> /var/tmp/dietpi/logs/dietpi-ramlog.log 2>&1'
ExecStop=/bin/dash -c '/boot/dietpi/func/dietpi-ramlog 1 > /var/tmp/dietpi/logs/dietpi-ramlog.log 2>&1'

[Install]
WantedBy=multi-user.target
