[Unit]
Description=DietPi-PreBoot
Requires=dietpi-ramdisk.service
Before=dietpi-boot.service network-online.target network.target networking.service
After=local-fs.target boot.mount dietpi-ramdisk.service dietpi-ramlog.service

[Service]
Type=oneshot
RemainAfterExit=yes
StandardOutput=tty
ExecStart=/bin/bash -c '/DietPi/dietpi/preboot | tee /var/tmp/dietpi/logs/dietpi-preboot.log'

[Install]
WantedBy=local-fs.target
