[Unit]
Description=DietPi-FirstBoot setup
# Order 2.5
Requisite=dietpi-preboot.service
After=dietpi-preboot.service
Before=network-pre.target dietpi-boot.service

[Service]
Type=oneshot
RemainAfterExit=yes
StandardOutput=tty
ExecStartPre=/bin/mkdir -p /var/tmp/dietpi/logs
ExecStart=/bin/dash -c '/var/lib/dietpi/services/dietpi-firstboot.bash 2>&1 | tee /var/tmp/dietpi/logs/dietpi-firstboot.log'

[Install]
WantedBy=multi-user.target
