[Unit]
Description=DietPi-RAMdisk
# Order 1
After=local-fs.target DietPi.mount boot.mount -.mount
Before=syslog.service rsyslog.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/bin/mkdir -p /var/tmp/dietpi/logs
ExecStart=/bin/dash -c '/boot/dietpi/func/dietpi-ramdisk 0 2>&1 >> /var/tmp/dietpi/logs/dietpi-ramdisk.log'
ExecStop=/bin/dash -c '/DietPi/dietpi/func/dietpi-ramdisk 1 2>&1 >> /var/tmp/dietpi/logs/dietpi-ramdisk.log'

[Install]
WantedBy=multi-user.target
