[Unit]
Description=DietPi-FS_partition_resize
# Order 0
DefaultDependencies=no
Wants=local-fs-pre.target
After=systemd-remount-fs.service -.mount
Before=var-swap.swap swap.target local-fs-pre.target

[Service]
Type=oneshot
StandardOutput=tty
ExecStartPre=/bin/mkdir -p /var/tmp/dietpi/logs
ExecStart=/bin/dash -c '/var/lib/dietpi/services/fs_partition_resize.sh 2>&1 | tee /var/tmp/dietpi/logs/fs_partition_resize.log'

[Install]
WantedBy=local-fs.target
