[Unit]
Description=DietPi USB Auto-Mount for /dev/%i
Requires=dev-%i.device
After=dev-%i.device

[Service]
Type=oneshot
ExecStart=/var/lib/dietpi/services/dietpi-fs_automount.sh add /dev/%i
