[Unit]
Description=DietPi-PostBoot
# Order 4
Requires=dietpi-boot.service
After=dietpi-boot.service

[Service]
Type=idle
RemainAfterExit=yes
StandardOutput=tty
ExecStart=/DietPi/dietpi/postboot

[Install]
WantedBy=multi-user.target
