[Unit]
Description=DietPi-CloudShell on main screen (tty1)
Documentation=https://dietpi.com/docs/software/system_stats/#dietpi-cloudshell

[Service]
StandardOutput=tty
TTYPath=/dev/tty1
ExecStart=/boot/dietpi/dietpi-cloudshell 1
ExecStopPost=/bin/echo 'DietPi-CloudShell terminated, have a nice day!'

[Install]
WantedBy=multi-user.target
