[Unit]
Description=DietPi-Boot
Requires=dietpi-ramdisk.service
After=network-online.target network.target networking.service dietpi-ramdisk.service dietpi-ramlog.service

[Service]
Type=oneshot
RemainAfterExit=yes
StandardOutput=tty
ExecStart=/bin/bash -c '/DietPi/dietpi/boot | tee /var/tmp/dietpi/logs/dietpi-boot.log'

[Install]
WantedBy=multi-user.target
