# Monitors loss of WiFi connection and automatically reconnects
[Unit]
Description=DietPi-WiFi-Monitor
Wants=network-online.target
After=dietpi-boot.service network-online.target

[Service]
ExecStartPre=/boot/dietpi/func/obtain_network_details
ExecStartPre=/bin/dash -c '[ -e /sys/class/net/wlan$(mawk "NR==2" /run/dietpi/.network) ]'
ExecStart=/var/lib/dietpi/services/dietpi-wifi-monitor.sh

[Install]
WantedBy=multi-user.target
