[Unit]
Description=DietPi-Boot
#Order 3
Requires=dietpi-preboot.service
After=dietpi-preboot.service network-online.target network.target networking.service

[Service]
Type=oneshot
RemainAfterExit=yes
StandardOutput=tty
ExecStart=/bin/bash -c '/DietPi/dietpi/boot | tee /tmp/dietpi-boot.log'

[Install]
WantedBy=multi-user.target
