[Unit]
Description=DietPi-Boot
# Order 3
Requisite=dietpi-preboot.service
After=dietpi-preboot.service network.target
Before=getty-pre.target getty@tty1.service getty.target ssh.service dropbear.service

[Service]
Type=oneshot
RemainAfterExit=yes
StandardOutput=journal+console
SyslogIdentifier=DietPi-Boot
ExecStart=/boot/dietpi/boot

[Install]
WantedBy=multi-user.target
