[Unit]
Description=DietPi-First_boot_installation_process
DefaultDependencies=false
After= dietpi-preboot.service
Before=dietpi-boot.service

[Service]
Type=oneshot
StandardOutput=tty
ExecStartPre=
ExecStart=/bin/dash -c '/DietPi/dietpi/dietpi-firstboot 2>&1 | tee /var/tmp/dietpi/logs/first_boot_install.log'
