[Unit]
Description=DietPi-RAMdisk
#Order 1
After=local-fs.target boot.mount tmp.mount
Before=network-pre.target rsyslog.service syslog.service

[Service]
Type=forking
RemainAfterExit=yes
StandardOutput=tty
ExecStartPre=/bin/mkdir -p /var/tmp/dietpi/logs
ExecStart=/bin/bash -c '/boot/dietpi/func/dietpi-ramdisk 0 &>> /tmp/dietpi-ramdisk.log'
ExecStop=/bin/bash -c '/DietPi/dietpi/func/dietpi-ramdisk 1 &>> /var/tmp/dietpi/logs/dietpi-ramdisk.log'

[Install]
WantedBy=local-fs.target
