[Unit]
Description=DietPi-PostBoot
#Order 4
Requires=dietpi-ramdisk.service dietpi-boot.service
After=dietpi-ramdisk.service dietpi-ramlog.service dietpi-boot.service
Before=rc-local.service rc.local.service

[Service]
Type=idle
RemainAfterExit=yes
ExecStart=/bin/bash -c '/DietPi/dietpi/postboot'
StandardOutput=tty

[Install]
WantedBy=multi-user.target
