[Unit]
Description=DietPi-PostBoot
Requires=dietpi-boot.service dietpi-ramdisk.service
After=dietpi-boot.service dietpi-ramdisk.service dietpi-ramlog.service
Before=rc-local.service rc.local.service

[Service]
Type=idle
RemainAfterExit=yes
ExecStart=/bin/bash -c '/DietPi/dietpi/postboot'
StandardOutput=tty

[Install]
WantedBy=multi-user.target
