[Unit]
Description=DietPi-FirstBoot run once at the first boot to configure DietPi
DefaultDependencies=false
After=dietpi-preboot.service
Before=dietpi-boot.service

[Service]
Type=oneshot
StandardOutput=tty
ExecStartPre=
ExecStart=/bin/dash -c '/var/lib/dietpi/services/dietpi-firstboot.sh 2>&1 | tee /var/tmp/dietpi/logs/first_boot_install.log'

[Install]
WantedBy=local-fs.target
