# Monitors loss of WiFi connection and automatically reconnects
[Unit]
Description=DietPi-WiFi-Monitor
After=dietpi-boot.service network-online.target network.target

[Service]
ExecStartPre=/DietPi/dietpi/func/obtain_network_details
ExecStartPre=/bin/bash -c '[[ -e /sys/class/net/wlan$(sed -n 2p /DietPi/dietpi/.network) ]]'
ExecStart=/var/lib/dietpi/services/dietpi-wifi-monitor.sh

[Install]
WantedBy=multi-user.target
