[Unit]
Description=Shutdown all SSH sessions before network
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/var/lib/dietpi/services/kill-ssh-user-sessions-before-network.sh

[Install]
WantedBy=poweroff.target halt.target reboot.target
