[Desktop Entry]
Version=1.0
Name=DietPi-BugReport
Type=Application
Comment=Found an issue or bug? Let us know!
Terminal=true
Exec=/DietPi/dietpi/dietpi-bugreport
Icon=/var/lib/dietpi/dietpi-software/installed/desktop/icons/dietpi-icon.png
Categories=ConsoleOnly;System;
GenericName=DietPi-BugReport