[Desktop Entry]
Version=1.0
Name=DietPi-Cron
Type=Application
Comment=Menu system that allows you to modify cron job start times.
Terminal=true
Exec=/boot/dietpi/dietpi-cron
Icon=/var/lib/dietpi/dietpi-software/installed/desktop/icons/dietpi-icon.png
Categories=ConsoleOnly;System;
GenericName=DietPi-Cron
