[Desktop Entry]
Version=1.0
Name=DietPi-Backup
Type=Application
Comment=Backup and Restore your DietPi System.
Terminal=true
Exec=/boot/dietpi/dietpi-backup
Icon=/var/lib/dietpi/dietpi-software/installed/desktop/icons/dietpi-icon.png
Categories=ConsoleOnly;System;
GenericName=DietPi-Backup
