[Desktop Entry]
Version=1.0
Name=DietPi-Services
Type=Application
Comment=Control system services and apply process tool tweaks
Terminal=true
Exec=/boot/dietpi/dietpi-services
Icon=/var/lib/dietpi/dietpi-software/installed/desktop/icons/dietpi-icon.png
Categories=ConsoleOnly;System;
GenericName=DietPi-Services
