[Desktop Entry]
Version=1.0
Name=DietPi-Launcher
Type=Application
Comment=Menu system that allows you to run any of the DietPi programs.
Terminal=true
Exec=/boot/dietpi/dietpi-launcher
Icon=/var/lib/dietpi/dietpi-software/installed/desktop/icons/dietpi-icon.png
Categories=ConsoleOnly;System;
GenericName=DietPi-Launcher
