[Desktop Entry]
Version=1.0
Name=DietPi-JustBoom
Type=Application
Comment=Tweak audio options for your JustBoom (and others) soundcard
Terminal=true
Exec=/DietPi/dietpi/misc/dietpi-justboom
Icon=/var/lib/dietpi/dietpi-software/installed/desktop/icons/justboom.png
Categories=ConsoleOnly;System;AudioVideo;
GenericName=DietPi-JustBoom
