[Desktop Entry]
Version=1.0
Name=DietPi-Software
Type=Application
Comment=Quickly and easily install DietPi optimized software.
Terminal=true
Exec=/boot/dietpi/dietpi-software
Icon=/var/lib/dietpi/dietpi-software/installed/desktop/icons/dietpi-icon.png
Categories=ConsoleOnly;System;
GenericName=DietPi-Software
