[Desktop Entry]
Version=1.0
Name=DietPi-Sync
Type=Application
Comment=Duplicate (Sync) one location to another
Terminal=true
Exec=/DietPi/dietpi/dietpi-sync
Icon=/var/lib/dietpi/dietpi-software/installed/desktop/icons/dietpi-icon.png
Categories=ConsoleOnly;System;
GenericName=DietPi-Sync