[Desktop Entry]
Version=1.0
Name=DietPi-Config
Type=Application
Comment=Feature rich config tool for DietPi
Terminal=true
Exec=/boot/dietpi/dietpi-config
Icon=/var/lib/dietpi/dietpi-software/installed/desktop/icons/dietpi-icon.png
Categories=ConsoleOnly;System;
GenericName=DietPi-Config
