[Desktop Entry]
Version=1.0
Name=es2_info
Type=Application
#Comment=
Terminal=true
Exec=es2_info
#Icon=
Categories=ConsoleOnly;Graphics;
GenericName=es2_info
