[Desktop Entry]
Version=1.0
Name=es2gears
Type=Application
#Comment=
Terminal=true
Exec=es2gears
#Icon=
Categories=ConsoleOnly;Graphics;
GenericName=es2gears
