[Desktop Entry]
Version=1.0
Name=glxgears
Type=Application
#Comment=
Terminal=true
Exec=glxgears
#Icon=
Categories=ConsoleOnly;Graphics;
GenericName=DietPi-Backup