[Desktop Entry]
Version=1.0
Name=glxinfo
Type=Application
#Comment=
Terminal=true
Exec=glxinfo
#Icon=
Categories=ConsoleOnly;Graphics;
GenericName=glxinfo
