[Desktop Entry]
Version=1.0
Name=Kodi Media Center
GenericName=Media Center
Comment=Manage and view your media
Exec=/DietPi/dietpi/misc/start_kodi
Icon=/var/lib/dietpi/dietpi-software/installed/desktop/icons/kodi-icon.png
Terminal=false
Type=Application
Categories=AudioVideo;Video;Player;TV;