[Desktop Entry]
Type=Application
Name=OpenTyrian
Comment=An arcade-style shoot 'em up
Icon=/usr/local/games/opentyrian/linux/icons/tyrian-48.png
Categories=Game;ArcadeGame;
Exec=/usr/local/games/opentyrian/run
Terminal=false
