name: DietPi-Build
on:
  workflow_dispatch:
    inputs:
      buildargs:
        description: 'DietPi-Build arguments'     
        required: true
  push:
jobs:
  build:
    # https://github.com/actions/virtual-environments
    runs-on: ubuntu-latest
    steps:
    - name: Generate upload script
      run: |
        sudo dash -c 'mkdir -m 0700 /root/.ssh; umask 377; echo '\''${{ secrets.KNOWN_HOSTS }}'\'' > /root/.ssh/known_hosts; echo '\''${{ secrets.SSH_KEY }}'\'' > /root/.ssh/id_ed25519'
        sudo dash -c 'echo -e '\''#!/bin/dash\nexec curl -T "${1:-EMPTY}" --key /root/.ssh/id_ed25519 sftp://github@ssh.dietpi.com/'\'' > upload.sh; chmod +x upload.sh'
    - name: Run DietPi-Build
      run: G_GITOWNER=${GITHUB_REPOSITORY_OWNER} G_GITBRANCH=${GITHUB_REF#refs/heads/} sudo -E bash -c "$(curl -sSf "https://raw.githubusercontent.com/MichaIng/DietPi/${GITHUB_REF#refs/heads/}/.build/images/dietpi-build")" 'DietPi-Build' ${{ github.event.inputs.buildargs }}
